[submodule "third_party/mcl"]
	path = third_party/mcl
	url = https://github.com/herumi/mcl.git
[submodule "evm-bench"]
	path = evm-bench
	url = https://github.com/ziyadedher/evm-bench.git
[submodule "deps/c-kzg-4844"]
	path = deps/c-kzg-4844
	url = https://github.com/ethereum/c-kzg-4844.git
