[submodule "third_party/mcl"]
	path = third_party/mcl
	url = https://github.com/herumi/mcl.git
[submodule "evm-bench"]
	path = evm-bench
	url = https://github.com/ziyadedher/evm-bench.git
[submodule "bench/official/evms/evmone/evmone"]
	path = bench/official/evms/evmone/evmone
	url = https://github.com/ethereum/evmone
