# Allow native modules to run build scripts
# Required for: c-kzg (KZG crypto), keccak, blake-hash, etc.
# pnpm v9+ blocks postinstall scripts by default for security
onlyBuiltDependencies[]=c-kzg
onlyBuiltDependencies[]=keccak
onlyBuiltDependencies[]=blake-hash
onlyBuiltDependencies[]=tiny-secp256k1
onlyBuiltDependencies[]=ffi-napi
onlyBuiltDependencies[]=ref-napi
onlyBuiltDependencies[]=usb
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@biomejs/biome
